@(playerId: Int, heading: String, action: String)
@*//@(widgets: Seq[Widget], form: Form[WidgetForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)*@
@*//@(playerId: Int)(heading: String)(form: Form[PlayerForm.Data])(postUrl: Call)(implicit request: MessagesRequestHeader)*@



@main("Word") {
    <h1>@heading</h1>

    <form method="get" action="@action">
        Player @playerId: <input type="text" name="name"></input>
        Secret word: <input type="text" name="secretWord"></input>
        <input type="submit"></input>
    </form>

}
