@()

@main("Word") {

<div id="contents">
    <h1 id="heading">Word</h1>
    <h2 id="state">Add second player</h2>

    <p>
        <label for="player-name">Player name: </label>
        <input id="player-name" type="text"/>
    </p>
    <p>
        <label for="secret-word">Secret word: </label>
        <input id="secret-word" type="text" />
    </p>
    <p>
        <button id="add-player-submit">Submit</button>
    </p>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="@routes.Assets.versioned("javascripts/basicStuff.js")"></script>

}
